body{
font: 13px/1.231 arial,helvetica,clean,sans-serif;
color: #444;
}


#content{
text-align:center;
margin:auto;
width:700px;
}

#content h3{
text-align:left;
}

#content h5{
text-align:left;
padding:0px 0px 0px 0px;
margin:0px 0px 7px 60px;
}

#header{
margin-top:30px;
border-bottom: 1px #DFDFDF solid;
padding-bottom:3px;
}

h2{
color: #444;
margin:0;
}

h3{
font-size:120%;
}

h4{
font-weight:normal;
color: #444;
margin:0;
font-size:115%;
}

h5{

}


#calendar{
margin-top:10px;
}

#about{
text-align:left;
margin-top:10px;
}

.whatDay{
border-bottom:#000000 solid 1px;
text-align:left;
margin-top:8px;
}
.whatShow{
text-align:left;
margin:3px;
font-size:96%;
margin-bottom:5px;
}

.whatShow a{
font-weight:bold;
}

a:active, a:link, a:visited{
color: #3972C8;
text-decoration: none;
}

a:hover{
color:#ff0000;

}

#footer{
margin:auto;
margin-top:30px;
border-top: 1px #DFDFDF solid;
padding-top:3px;

}

#fakeLink{
cursor:pointer;
color: #3972C8;
}

#submit{
font-size:95%;
}

#topForm{
margin-top:10px;
}


#submit dl{
display:block;
}

#topForm dt{
float:left;
clear:left;
width:150px;
text-align:right;
padding-top:6px;
color: #696969;
}


#topForm dd{
float:left;
width:400px;
text-align:left;
margin:0px 0px 5px 5px;
padding:0px 0px 0px 0px;
}

#topForm p{
margin:0px 0px 0px 0px;
}


.bandsForm {
margin:0;
}

.bandsForm dt{
float:left;
clear:left;
width:150px;
text-align:right;
padding-top:6px;
color: #696969;
}


#sortable { 
list-style-type: none; 
margin: 0; 
padding: 0; 
 }
	
#sortable li { 
display:inline; 
float:left;
margin:35px 0 0 0;
height:86px;
}

html>body #sortable li { }

.ui-custom-state-highlight {
width:557px;
height:98px;
border: 1px solid #fcd3a1;
background: #fbf8ee url(images/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x; 
color: #444444;

}

.ui-state-band-draggable {
border: 1px dashed #CCC;
background: white;
cursor:move;
}

.bandsForm dd{
float:left;
width:400px;
text-align:left;
margin:0px 0px 1px 5px;
padding:0px 0px 0px 0px;
}

.bandsForm p{
margin:0px 0px 0px 0px;
}

#submit input{
border: 1px solid #9C9C9C;
padding:.3em;
font-family: verdana;
font-size:100%;
}

.submit_input{
font-size:120% !important;

}

.text_input {
width:300px;
}

.location_input{
width:20px;
}

.date_input{
width:80px;
}

.band_num{
color:#000000 !important;
font-size:110%;
}


.err_txt{
    color:#FF0000;
    position:relative;
}

.headerMessage{
text-align:left;
}

.headerMessageSpan{
text-align:left;
background-color:#FFF1A8;
padding:0 7px 0 3px;
}

.footer-icon{
position:relative;
top:4px;
}
